{
    "extends": "airbnb",
    // "plugins": ["import"],
    "rules": {
      "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
      "linebreak-style": ["error", "windows"]
    }
  }
  